$path_to_folder: '/fonts';

@font-face {
  font-family: 'sf-pro-display';

  src: url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Regular.woff2');

  src: local('sf-pro-display'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Regular.woff') format('woff'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Regular.ttf') format('truetype');
  unicode-range: U+000-5FF;
  font-display: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sf-pro-display';

  src: url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Medium.woff2');

  src: local('sf-pro-display'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Medium.woff2') format('woff2'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Medium.woff') format('woff'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Medium.ttf') format('truetype');
  unicode-range: U+000-5FF;
  font-display: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sf-pro-display';

  src: url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Semibold.woff2');

  src: local('sf-pro-display'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Semibold.woff2') format('woff2'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Semibold.woff') format('woff'),
    url('#{$path_to_folder}/sf-pro-display/SF-Pro-Display-Semibold.ttf') format('truetype');
  unicode-range: U+000-5FF;
  font-display: auto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sf-ui-text';

  src: url('#{$path_to_folder}/sf-ui-text/SF-UI-Text-Regular.woff2');

  src: local('sf-ui-text'),
    url('#{$path_to_folder}/sf-ui-text/SF-UI-Text-Regular.woff2') format('woff2'),
    url('#{$path_to_folder}/sf-ui-text/SF-UI-Text-Regular.woff') format('woff'),
    url('#{$path_to_folder}/sf-ui-text/SF-UI-Text-Regular.ttf') format('truetype');
  unicode-range: U+000-5FF;
  font-display: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sf-ui-text';

  src: url('#{$path_to_folder}/sf-ui-text/SF-UI-Text-Medium.woff2');

  src: local('sf-ui-text'),
    url('#{$path_to_folder}/sf-ui-text/SF-UI-Text-Medium.woff2') format('woff2'),
    url('#{$path_to_folder}/sf-ui-text/SF-UI-Text-Medium.woff') format('woff'),
    url('#{$path_to_folder}/sf-ui-text/SF-UI-Text-Medium.ttf') format('truetype');
  unicode-range: U+000-5FF;
  font-display: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}